* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
padding: 0;
margin: 0;
scroll-behavior: smooth;
}
:root {
    --main-color :  #FF9800;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
}
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
@media (min-width: 580px) {
    .container {
        width: 540px;
      }
}
 /* Small */
 @media (min-width: 768px) and (max-width :991px ) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) and (max-width : 1199px ) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px)  {
    .container {
      width: 1170px;
    }
  }

/* edit scroll bar style*/
::-webkit-scrollbar {
width: 15px;
height: 15px;
}
::-webkit-scrollbar-button {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-thumb {
background-color: var(--main-color);
border-radius: 19px;
width: 15px;
height: 15px;
}
::-webkit-scrollbar-track {
    background-color: #ececec;
    width: 15px;
    height: 15px;
}
/* edit scroll bar style*/
/* start Header*/
.header {
position: relative;
height: 100vh;
background-image: url(../imgs/05.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.header .overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header .overlay::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: var(--main-color);
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
}
.header .overlay::after {
    content: "";
    position: absolute;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    background-color: #fff;
    border: 2px solid var(--main-color);
    top: 60.5%;
    left: 50%;
    transform: translateX(-50%);
}
.header .container {
    z-index: 99999;
    position: relative;
    padding: 15px 5px;
}
@media (max-width : 600px) {
    .header .container {
        width: 100%;
    }
}
.header .container .nav-bar {
   display: flex;
   padding: 10px;
   color: white;
}
.header .container .nav-bar .logo {
    width: 300px;
    text-align: right;
    font-size: 17px;
    color: var(--main-color);
    margin-right: 50px;
    font-weight: bold;
}
.header .overlay .container .nav-bar .links {
    width: 100%;
    display: flex;
}
@media (max-width : 500px) {
    .header .overlay .container .nav-bar .links .link {
        display: none;
    }
}
.header .overlay .container .nav-bar .links .link {
    width: 80%;
    text-align: right;
    display: inline-block;
    overflow: hidden;
}
@media (max-width : 1000px) {
    .header .overlay .container .nav-bar .links .link {
        display: none;
    }
    
.header .overlay .container .nav-bar .links .open {
    display: flex;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    flex-direction: column;
    text-align: left;
    padding: 15px;
}
}
.header .overlay .container .nav-bar .links .link li {
    display: inline-block;
    margin-right: 15px;
}
@media (max-width : 1000px) {
    .header .overlay .container .nav-bar .links .open li {
        margin-bottom: 10px;
    }
}
.header .overlay .container .nav-bar .links .link li:hover a {
    color: var(--main-color);
}
 
.header .overlay .container .nav-bar .links .link li a {
    color: white;
}
@media (max-width : 1000px) {
    .header .overlay .container .nav-bar .links .link li a {
        color: var(--main-color);
    }
}
.header .overlay .container .nav-bar .links .link a:hover {
    
}

.header .overlay .container .nav-bar .toggle-menu  {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    width: 40px;
    height: 20px;
    margin-left: 90% ;
    cursor: pointer;
}
@media (max-width: 600px) {
    .header .overlay .container .nav-bar .toggle-menu {
        margin-left: 60% ;
    }
}
@media (max-width: 1000px) {
    .header .overlay .container .nav-bar .toggle-menu {
        display: flex;
    }
}
.header .overlay .container .nav-bar .toggle-menu:hover  span  {
    background-color: var(--main-color);
}
@media (max-width: 1000px) {
    .header .overlay .container .nav-bar .toggle-menu {
        display: flex;
    }
}
.header .overlay .container .nav-bar .toggle-menu span {
    width: 100%;
    height: 4px;
    background-color: white;
}
.header .overlay .container .nav-bar .toggle-menu :nth-child(2) {
    width : 80% ;
}
.header .overlay .introduction-text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header .overlay .introduction-text h2 {
    text-align: center;
    font-size: 45px;
    color: white;
}
@media (max-width : 550px) {
    .header .overlay .introduction-text h2 {
        font-size: 28px;
    }
}
.header .overlay .introduction-text h2 span {
    color: var(--main-color);
}
.header .overlay .introduction-text p {
    text-align: center;
    font-size: 18px;
    color: white;
}
@media (max-width : 550px) {
    .header .overlay .introduction-text p {
        font-size: 15px;
    }
}
/* End Header*/
/*start about us*/
.about-us {
padding-top: 50px;
padding-bottom: 50px;
}
.about-us .container {
    display: flex;
    align-items: center;
}
@media (max-width : 770px) {
    .about-us .container {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
}
.about-us .container .text {
    width: 40%;
    margin-right: 20%;
}
@media (max-width : 770px) {
    .about-us .container .text {
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width : 770px) {
    .about-us .container .text {
        margin: 0 auto;
        text-align: center;
    }
}
.about-us .container .text h2 {
    color: var(--main-color);
    font-size: 30px;
}
.about-us .container .text p {
    color: #777;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7;
}
.about-us .container .about {
    width: 250px;
    height: 250px;
}
/*end about us*/
/*start our skills*/
.our-skills {
background-color: #ececec;
padding: 50px 0 ;
}
.our-skills .container {

}
@media (max-width : 500px) {
    .our-skills .container {
        margin: 0 auto;
        width: 95%;
    }
}
.our-skills .container h2 {
    text-align: center;
    color: var(--main-color);
    font-size: 35px;
    margin-bottom: 50px;
}
.our-skills .container .skills-box {
    
}
.our-skills .container .skills-box .skill {
    width: 100%;
    display: flex;
    padding: 5px 15px;
    height: 60px;
    background-color: white;
    margin-bottom: 15px;
    align-items: center;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
@media (max-width : 700px) {
    .our-skills .container .skills-box .skill {
        padding-bottom: 25px;
    }
}
@media (max-width : 700px) {
    .our-skills .container .skills-box .skill {
        flex-direction: column;
        height: fit-content;
    }
}
.our-skills .container .skills-box .skill h3 {
    width: 140px;
    text-align: center;
}
.our-skills .container .skills-box .skill .skill-prog {
    width: 100%;
    background-color: #ececec;
    margin-left: 25px;
    height: 30px;
    border-radius: 3px;
    position: relative;
    transition: 2s linear ;
}
@media (max-width : 700px) {
    .our-skills .container .skills-box .skill .skill-prog {
        margin: auto;
    }
}
.our-skills .container .skills-box .skill .skill-prog span {
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    transition: 3s ;
}
/*End our skills*/

/*start our galery*/
.our-galery {

}
.our-galery .container {
    padding: 50px 0 ;
}
@media (max-width : 600px) {
    .our-galery .container {
        width: 90%;
    }
}
.our-galery .container h2 {
    text-align: center;
    font-size: 35px;
    color: var(--main-color);
    margin-bottom: 30px;
}
.our-galery .container .boxx {
    text-align: center;
}
.our-galery .container img {
    width: 200px;
    padding: 3px;
    background-color: #F6F6F6;
    border: 1px solid #CCC;
    margin: 5px;
    cursor: pointer;
}
/*end our galery*/
/*start bullets*/
.bullets {
position: fixed;
top: 50%;
right: 25px;
transform: translateY(-50%);
z-index: 1000000000000000000000;
color: red;
}
@media (max-width : 550px) {
    .bullets {
        right: 7px;
    }
}
.bullets.fermer {
    display: none;
}
.bullets .bullet {
    position: relative;
    width:  20px;
    height: 20px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    margin-bottom: 30px;
    cursor: pointer;
}
.bullets .bullet span {
    display: none;
    position: absolute;
    left: -122px;
    top: -100%;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 9px;
    width: 97px;
    text-align: center;
    /* height: 36px; */
    font-size: 14px;
}
.bullets .bullet span::before {
    content: "";
    position: absolute;
    border: none none none 1px solid;
    border: 11px solid;
    border-color: transparent transparent transparent var(--main-color);
    right: -22px;
    top: 7px;
}
.bullets .bullet:hover span {
display: block;
}

/*End bullets*/
/*start timeline*/
.timeline {
background-color: #ececec;
padding-top:    60px;
padding-bottom: 60px;
}
.timeline .container {
position: relative;
}
@media (max-width : 600px) {
    .timeline .container {
        width: 90%;
        margin: 0 auto;
    }
} 
.timeline .container .clear-both {
clear: both;
}
@media (max-width : 790px) {
    .timeline .container .clear-both {
        display: none;
    }
}
.timeline .container .year-2018 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}
@media (max-width : 790px) {
    .timeline .container .year-2018 {
        display: block;
        position: relative;
        width: fit-content;
    }
}
.timeline .container .left {
    width: calc(50% - 25px);
    background-color: white;
    float: left;
    padding: 18px ;
    margin-top: 80px;
    position: relative;
    text-align: center;
}
@media (max-width : 790px) {
    .timeline .container .left {
        float: none;
        margin-top: 40px;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 30px;
    }
}
@media (max-width : 500px) {
    .timeline .container .left {
        width: 100%;
    }
}
.timeline .container .left::before {
    position: absolute;
    content: "";
    border: 12px solid;
    border-color: transparent transparent transparent white;
    right: -24px;
    top: 16px;
}
@media (max-width : 790px) {
    .timeline .container .left::before {
        display: none;
    }
}
.timeline .container .left::after {
    content: "";
    position: absolute;
    background-color: white;
    border: 3px solid var(--main-color);
    width:  14px;
    height: 14px;
    border-radius: 50%;
    top: 17px;
    right: -45px;
    transform: translateX(-50%);
}
@media (max-width : 790px) {
    .timeline .container .left::after {
        display: none;
    }
}
.timeline .container .left h2 {
font-size: 18px;
margin-bottom: 13px;
color: var(--main-color);
}
.timeline .container .left p {
line-height: 1.7;
}
.timeline .container .right {
    width: 47%;
    background-color: white;
    float: right;
    padding: 18px ;
    position: relative;
    text-align: center;
}
@media (max-width : 790px) {
    .timeline .container .right {
        float: none;
        margin-top: 40px;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 30px;
    }
}
@media (max-width : 500px) {
    .timeline .container .right {
        width: 100%;
    }
}
.timeline .container .right::before {
    position: absolute;
    content: "";
    border: 12px solid;
    border-color: transparent white transparent transparent ;
    left: -24px;
    top: 16px;
}
@media (max-width : 790px) {
    .timeline .container .right::before {
        display: none;
    }
}
.timeline .container .right::after {
    content: "";
    position: absolute;
    background-color: white;
    border: 3px solid var(--main-color);
    width:  14px;
    height: 14px;
    border-radius: 50%;
    top: 17px;
    left: -32px;
    transform: translateX(-50%);
}
@media (max-width : 790px) {
    .timeline .container .right::after {
        display: none;
    }
}
.timeline .container .right h2 {
    font-size: 18px;
    color: var(--main-color);
    margin-bottom: 13px;
}
.timeline .container .right p {
    line-height: 1.7;

}
.timeline .container .year-2016 {
    
}
.timeline .container::before {
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
/*End timeline*/
/*start setting box*/
.setting-box {
width: 200px;
background-color: white;
height: 100vh;
position: fixed;
left: 0;
top: 0;
z-index: 10000000000000000000000;
transform: translateX(-100%);
transition: 0.3s;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.setting-box.open {
    transform: translateX(0);
}

.setting-box .button {
    position: absolute;
    right: -0%;
    background-color: white;
    padding: 7px;
    top: 108px;
    font-size: 14px;
    right: -28px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.setting-box .button.open i {
    animation: rotate 1s infinite linear ;    
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
.setting-box .colors {
    position: absolute;
    width: calc(200px - 20px);
    height: 80px;
    background-color: #ececec;
    margin: 30px 10px;
    padding: 10px 17px;
}
.setting-box .colors p {
    color: #777;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.setting-box .colors .color {
    
    width: 100%;
    height: 25px;
    margin-top: 15px;
    display: inline-block;
}
.setting-box .colors .color li {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding:1px;
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
}
.setting-box .colors .color li.active {
    outline: 3px solid #F44336;
}
.setting-box .colors .color li:nth-child(1) {
    background-color: #FF9800;
}
.setting-box .colors .color li:nth-child(2) {
    background-color: #E91E63;
}
.setting-box .colors .color li:nth-child(3) {
    background-color: #009688;
}
.setting-box .colors .color li:nth-child(4) {
    background-color: #03A9F4;
}
.setting-box .colors .color li:nth-child(5) {
    background-color: #4CAF50;
}

.background {
    position: absolute;
    width: calc(200px - 20px);
    height: 70px;
    background-color: #ececec;
    margin: 123px 10px;
    padding: 10px 15px;
}
.background p {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #777;
}
.background .chose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px auto;
    width: 96px;
}
.background .chose span {
    background-color: var(--main-color);
    padding: 3px 13px;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    opacity: 0.7;
    cursor: pointer;
}
.background .chose span.active {
    opacity: 1;
}
.show-bullets {
    position: absolute;
    width: calc(200px - 20px);
    height: 70px;
    background-color: #ececec;
    margin: 205px 10px;
    padding: 10px 15px;
}
.show-bullets p {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #777;
}
.show-bullets .chose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px auto;
    width: 96px;
}
.show-bullets .chose span {
    background-color: var(--main-color);
    padding: 3px 13px;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    opacity: 0.7;
    cursor: pointer;
}
.show-bullets .chose span.active {
    opacity: 1;
}
.reset {
    position: absolute;
    width: calc(200px - 20px);
    background: #F44336;
    color: white;
    margin: 300ox 10px;
    margin: 292px 10px;
    padding: 10px 19px;
    text-align: center;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
}

/*start Our-features*/
.our-features {
padding-top: 50px ;
}
.our-features .title {
    text-align: center;
    letter-spacing: 2px;
    font-size: 34px;
    margin-bottom: 30px;
    color: var(--main-color);
}
.our-features .container {
padding: 10px 30px;
}
@media (max-width : 600px) {
    .our-features .container {
        width: 90%;
        padding: 0;
    }
}
.our-features .container .features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr)) ;
    gap: 20px;
    margin: 0 auto;
}
.our-features .container .features .box {
text-align: center;
position: relative;
}
.our-features .container .features .box::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    top: 68%;
}
.our-features .container .features .box img {
    width: 100px;
    height: 100px;
}
.our-features .container .features .box h2 {
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 23px;
    margin-bottom: 40px;
}
.our-features .container .features .box p {
    text-align: center;
    color: #777;
    line-height: 1.7;
    max-width: 100%;
}

/*End Our-features*/
/*START testimonials*/
.testimonials {
position: relative;
padding-top: 80px;
padding-bottom: 80px;
}
.testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
}
.testimonials::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
    z-index: -1;
}
.testimonials .container {
    padding: 0 50px;
}
@media (max-width : 600px) {
    .testimonials .container {
        width: 90%;
        padding: 0;
    }
}
.testimonials .container h2 {
    color: white;
    letter-spacing: 2px;
    font-size: 28px;
    margin-bottom: 30px;
}
@media (max-width : 600px) {
    .testimonials .container h2 {
        text-align: center;
    }
}
.testimonials .container .boxx {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
@media (max-width : 780px) {
    .testimonials .container .boxx {
        flex-direction: column;
    }
}
.testimonials .container .boxx .box {
    background-color: white;
    flex-basis: calc(100% / 3 - 10px);
    padding: 20px;
}
@media (max-width : 780px) {
    .testimonials .container .boxx .box {
        margin-bottom: 20px;
        flex-basis: 100%;
    }
}
.testimonials .container .boxx .box p {
line-height: 1.4;
color: #777;
font-size: 15px;
margin-bottom: 30px;
font-style: italic;
}
.testimonials .container .boxx .box h4 {
margin-bottom: 15px;
}
.testimonials .container .boxx .box h6 {
color: #777;
font-size: 16px;
}
/*END testimonials*/

/*Start contact*/
.contact {
padding-top: 80px;
padding-bottom: 80px;
position: relative;
height: 450px;
}
.contact h2 {
text-align: center;
color: var(--main-color);
font-size: 32px;
font-weight: bold;
margin-bottom: 60px;
}
.contact form {
width: 50%;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
padding: 30px;
margin: 0 auto;
}
@media (max-width : 780px) {
    .contact form {
        flex-direction: column;
        width: 70%;
    }
}
.contact form .left {
flex-basis: 49%;
display: block;
}
.contact form .left input {
margin-bottom: 30px;
width: 100%;
height: 40px;
border: 1px solid;
border-color: #ccc;
background-color: rgba(218, 218, 218, 0.19);
padding: 4px 7px;
outline: none;
}
.contact form .left input:focus {
    border-color: #ccc var(--main-color) var(--main-color) #ccc ;
}
.contact form .right {
    flex-basis: 49%;
    display: block;
    position: relative;
    height: 280px;
}
.contact form .right .message {
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-color: #ccc;
    background-color: rgba(218, 218, 218, 0.19);
    padding: 4px 7px;
    outline: none;
    height: 177px;
    
}
.contact form .right .message:focus {
    border-color: #ccc var(--main-color) var(--main-color) #ccc ;
}
.contact form .right .submit {
    width: 100%;
    height: 39px;
    margin-top: 33px;
    background-color: var(--main-color);
    border: navajowhite;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
/*End contact*/
/*footer*/
.footer {
    width: 100%;
    background-color: #333;
    padding: 30px;
    margin-top: 300px;
}
.footer h2 {
    text-align: center;
    color: white;
    font-size: 16px;
}
